<nav class="navbar navbar-expand-lg p-1" id="nav-css">
    <a class="navbar-brand mr-0" href="/auth/google"><button class="loginBtn loginBtn--google" id="googleButton">
            Login with Google
        </button></a>
    <button id="navDrop" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <h1 id="app-name" >Pet-911</h1>
    </div>
</nav>