<nav class="navbar navbar-expand-lg p-1" id="nav-css">

    <a class="navbar-brand mr-0 mt-0" href="/auth/google"><button class="btn btn-light text-dark mb-0" style="font-size: 18px"
            id="googleButton"><img src="/images/1024px-Google__G__Logo.svg.png"  class="mr-2 mb-0" style="height: 28px; width: 28px;">Login
            with Google</button></a>
    {{!-- <a class="navbar-brand mr-1" href="/auth/google"><button class="btn btn-light border border-dark ml-2"
            id="googleButton">Report Pet</button></a> --}}
    <div class="container">
        <h1 id="app-name">Pet-911</h1>
    </div>

</nav>