<div class="container rounded mt-5 mb-3" >
    <div class="container d-flex flex-row justify-content-around ">
        <div class="row">
            <div class="col-4 text-center">
                <a href="/profile/pets">
                    <img class="feature-button-dog-image" src="/images/dog-button-1.png">
                </a>
                <p class="mt-1" >Your Pets</p>
            </div>
            <div class="col-4 text-center">
                <a>
                    <img class="feature-button-image" src="/images/gears-3.png">
                </a>
                <p class="mt-1" >Settings</p>
            </div>
            <div class="col-4 text-center">
                <a>
                    <img class="feature-button-image" src="/images/lost-pet-image.png">
                </a>
                <p class="mt-1" >Find My Pets</p>
            </div>
        </div>
    </div>
