<div class="container rounded mt-5 mb-3" >
    <div class="container d-flex flex-row justify-content-around ">
        <div class="row">
            <div class="col-6 text-center">
                <a href="/profile/pets">
                    <img class="feature-button-dog-image" src="/images/dog-button-1.png">
                </a>
                <p class="mt-1" >Your Pets</p>
            </div>
            <div class="col-6 text-center">
                <a href="/profile/matches" >
                    <img class="feature-button-image" src="/images/lost-pet-image.png">
                </a>
                <p class="mt-1" >Matches</p>
            </div>
            <div class="row">
                {{#if matches}}
                <div class="col-4">
                    
                </div>
                    
                {{/if}}
            </div>
        </div>
    </div>
