<!-- header -->
<div class="jumbotron">
    <div id="camera-section">
        <div class="text-center">
            <i id="upload" class="fas fa-camera fa-10x" for="upload-photo" onchange="encodeImageFileAsURL(this)"></i>
        </div>
        <hr>
        <div>
            <p>
                Upload a picture! Please provide as much information as possible. This will help locate my owner faster!
            </p>
        </div>
    </div>
</div>

<div class="container">

    <!-- bootstrap form validation -->
    <form class="needs-validation" novalidate>
        <div class="form-row">

            <!-- user info -->
            <div class="form-group col-md-12">
                <input id="name" type="text" class="form-control" placeholder="Name" required>
                <div class="invalid-feedback">
                    Please enter your name or an alias!
                </div>
            </div>
            <div class="form-group col-md-12">
                <input id="email" type="text" class="form-control" placeholder="Email" required>
                <div class="invalid-feedback">
                    name@example.com
                </div>
            </div>
            <div class="form-group col-md-12">
                <input id="contact" type="text" class="form-control" placeholder="Contact" required>
                <div class="invalid-feedback">
                    XXX-XXX-XXXX
                </div>
            </div>

            <div class="col-md-12">
                <label for="a1">Pet type</label>
                <div class="form-group">
                    <select class="form-control empty" id="q1" required>
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2 (Disagree)</option>
                        <option value="3">3 (Neutral)</option>
                        <option value="4">4 (Agree)</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <div class="invalid-feedback">
                        Me too!
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <label for="q2">Breed</label>
                <div class="form-group">
                    <select class="form-control empty" id="q2" required>
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2 (Disagree)</option>
                        <option value="3">3 (Neutral)</option>
                        <option value="4">4 (Agree)</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <div class="invalid-feedback">
                        Me too!
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <label for="q3">Color</label>
                <div class="form-group">
                    <select class="form-control empty" id="q3" required>
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2 (Disagree)</option>
                        <option value="3">3 (Neutral)</option>
                        <option value="4">4 (Agree)</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <div class="invalid-feedback">
                        Me too!
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <label for="q4">Coat Type</label>
                <div class="form-group">
                    <select class="form-control empty" id="q4" required>
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2 (Disagree)</option>
                        <option value="3">3 (Neutral)</option>
                        <option value="4">4 (Agree)</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <div class="invalid-feedback">
                        Me too!
                    </div>
                </div>
            </div>

        </div>

        {{!-- toggle form button --}}
        <div class="text-center">
            <button id="form-show" class="btn btn-outline-dark btn-sm btn-block">Show Details > > ></button>
        </div>

        {{!-- line --}}
        <hr class="m-3">

        {{!-- toggle-form - shows and hides form --}}
        <div id="toggle-form" class="form-row">
            <!-- form questions -->
            <div class="col-md-12">
                <label for="q5">Coat Length</label>
                <div class="form-group">
                    <select class="form-control empty" id="q5">
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2 (Disagree)</option>
                        <option value="3">3 (Neutral)</option>
                        <option value="4">4 (Agree)</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <label for="q6">Sex</label>
                <div class="form-group">
                    <select class="form-control empty" id="q6">
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2 (Disagree)</option>
                        <option value="3">3 (Neutral)</option>
                        <option value="4">4 (Agree)</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <label for="q8">Size</label>
                <div class="form-group">
                    <select class="form-control empty" id="q8">
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2 (Disagree)</option>
                        <option value="3">3 (Neutral)</option>
                        <option value="4">4 (Agree)</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="text-center">
            <!-- Link to open the modal and Submit Form -->
            <button id="submit-form" class="btn btn-dark btn-lg btn-block mt-2" type="submit" data-toggle="modal"
                data-target="#exampleModal">
                Find!
            </button>
        </div>
    </form>

</div>



<!-- match modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="match-title">Please fill out the form!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- display match in modal -->
            <div class="modal-body">
                <div id="match-image" class="text-center"></div>
                <hr id="modal-split">
                <div id="match-name" class="text-center mt-3">:(</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script>
    // hide form details on load
    $("#toggle-form").hide();

    // initialize form buttons
    $(document).ready(function () {

        // allow user to upload photo by file or camera
        $('#upload').on('click', function () {
            console.log('clicked');
        });

        // show / hide form details
        $("#form-show").click(function (event) {
            event.preventDefault();
            $("#toggle-form").toggle();
        });

        // // when form is submitted, send to validation, get geolocation, and pass to backend
        // // this currently breaks bootstrap form validation
        // $('#submit-form').click(function (event) {
        //    event.preventDefault();
        //    console.log('find');
        // })
    });

</script>
{{!-- <!-- footer -->
<footer class="footer mt-3 mb-5">
    <div class="container">
        <a href="/api/friends">Friends API</a>
        <a class="mx-1">|</a>
        <a href="/db">Database - All Friends</a>
    </div>
</footer> --}}

{{!-- <!-- js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="./js/app.js"></script> --}}