<div class="jumbotron">

    <div id="jumbotron-top" class="text-center"></div>


    {{!-- fontawesome camera; upload file or file --}}
    <div class="camera text-center">
        <i id="upload" class="fas fa-camera fa-8x" for="upload-photo"></i>
        <input type="file" id="upload-image" />
    </div>

    <hr>
    {{!-- bottom section of jumbotron --}}
    <div id="jumbotron-bottom"></div>

    {{!-- form message --}}
    <p id="form-message">
        Upload a picture! Provide as much info as possible! This will help locate my owner faster!
    </p>

</div>

<script src="./scripts/upload.image.js"></script>
<script>

</script>