<!-- header -->
<div class="jumbotron">
    <div id="camera-section">
        <div class="text-center">
            <i id="upload" class="btn fas fa-camera fa-10x" for="upload-photo"
                onchange="encodeImageFileAsURL(this)"></i>
        </div>
        <hr>
        <div class="text-center">
            <p>
                Take a picture!
            </p>
            <p>
                Or fill out dat form yo
            </p>
        </div>
    </div>
</div>

{{!-- 
"pet_id": 2,
"pet_image": "_blank",
"pet_name": "Billy",
"pet_type": "Dog",
"pet_breed": "Retriever",
"color": "Brown",
"coat_type": "Spotted",
"coat_length": "Long Hair",
"sex": "Female",
"pet_age": 8,
"pet_size": "Medium",
"lost_status": false,
"lost_date": "none",
"owner_id": "12345"
--}}

<div class="container">
    <!-- bootstrap form validation -->
    <form class="needs-validation" novalidate>
        <div class="form-row">
            <!-- user info -->
            <div class="form-group col-md-6">
                <input id="name" type="text" class="form-control" placeholder="Name" required>
                <div class="invalid-feedback">
                    Name required!
                </div>
            </div>
            <div class="form-group col-md-6">
                <input id="image" type="text" class="form-control" placeholder="Link to Image" required>
                <div class="invalid-feedback">
                    Link to image required!
                </div>
            </div>
            <hr class="m-3">
        </div>

        {{!-- toggle form button --}}
        <button id="form-show">Click Me</button>

        {{!-- toggle-form - shows and hides form --}}
        <div id="toggle-form" class="form-row">
            <!-- form questions -->
            <div class="toggle-form col-md-12">
                <label for="a1">1. I have a vivid imagination</label>
                <div class="form-group">
                    <select class="form-control empty" id="q1" required>
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2 (Disagree)</option>
                        <option value="3">3 (Neutral)</option>
                        <option value="4">4 (Agree)</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <div class="invalid-feedback">
                        Me too!
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label for="q2">2. I love large parties</label>
                <div class="form-group">
                    <select class="form-control empty" id="q2" required>
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2 (Disagree)</option>
                        <option value="3">3 (Neutral)</option>
                        <option value="4">4 (Agree)</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <div class="invalid-feedback">
                        Me too!
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label for="q3">3. I believe in the importance of art</label>
                <div class="form-group">
                    <select class="form-control empty" id="q3" required>
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2 (Disagree)</option>
                        <option value="3">3 (Neutral)</option>
                        <option value="4">4 (Agree)</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <div class="invalid-feedback">
                        Me too!
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <label for="q4">4. I am always busy</label>
                <div class="form-group">
                    <select class="form-control empty" id="q4" required>
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2 (Disagree)</option>
                        <option value="3">3 (Neutral)</option>
                        <option value="4">4 (Agree)</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <div class="invalid-feedback">
                        Me too!
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label for="q5">5. I would never cheat on my taxes </label>
                <div class="form-group">
                    <select class="form-control empty" id="q5" required>
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2 (Disagree)</option>
                        <option value="3">3 (Neutral)</option>
                        <option value="4">4 (Agree)</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <div class="invalid-feedback">
                        Me too!
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label for="q6">6. I make people feel welcome</label>
                <div class="form-group">
                    <select class="form-control empty" id="q6" required>
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2 (Disagree)</option>
                        <option value="3">3 (Neutral)</option>
                        <option value="4">4 (Agree)</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <div class="invalid-feedback">
                        Me too!
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label for="q7">7. I seek adventure</label>
                <div class="form-group">
                    <select class="form-control empty" id="q7" required>
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2 (Disagree)</option>
                        <option value="3">3 (Neutral)</option>
                        <option value="4">4 (Agree)</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <div class="invalid-feedback">
                        Me too!
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label for="q8">8. I am a gamer</label>
                <div class="form-group">
                    <select class="form-control empty" id="q8" required>
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2 (Disagree)</option>
                        <option value="3">3 (Neutral)</option>
                        <option value="4">4 (Agree)</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <div class="invalid-feedback">
                        Me too!
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label for="q9">9. I love reading API documentation</label>
                <div class="form-group">
                    <select class="form-control empty" id="q9" required>
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2 (Disagree)</option>
                        <option value="3">3 (Neutral)</option>
                        <option value="4">4 (Agree)</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <div class="invalid-feedback">
                        Me too!
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label for="q10">10. I like pineapples on my pizza</label>
                <div class="form-group">
                    <select class="form-control empty" id="q10" required>
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1 (Strongly Disagree)</option>
                        <option value="2">2 (Disagree)</option>
                        <option value="3">3 (Neutral)</option>
                        <option value="4">4 (Agree)</option>
                        <option value="5">5 (Strongly Agree)</option>
                    </select>
                    <div class="invalid-feedback">
                        Me too!
                    </div>
                </div>
            </div>

        </div>
</div>

<!-- Link to open the modal and Submit Form -->
<button id="submit-form" class="btn btn-dark btn-primary-outline mt-2" type="submit" data-toggle="modal"
    data-target="#exampleModal">
    Find!
</button>

</form>
</div>

<!-- match modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="match-title">Please fill out the form!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- display match in modal -->
            <div class="modal-body">
                <div id="match-image" class="text-center"></div>
                <hr id="modal-split">
                <div id="match-name" class="text-center mt-3">No match yet :(</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#upload').on('click', function () {
                console.log('clicked');
            });
            // show / hide form details
            $("#form-show").click(function (event) {
                event.preventDefault();
                $("#toggle-form").toggle();
            });
        })

    </script>
    {{!-- <!-- footer -->
<footer class="footer mt-3 mb-5">
    <div class="container">
        <a href="/api/friends">Friends API</a>
        <a class="mx-1">|</a>
        <a href="/db">Database - All Friends</a>
    </div>
</footer> --}}

    {{!-- <!-- js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="./js/app.js"></script> --}}