


    {{!-- <a href="/auth/google"></a>
    <button>Sign in with Google+</button>



    </a> --}}

    <button class="try-button example--1">Try me</button>
 <div class="card-carousel addHere">
    
        <div class="profile1 my-card"></div>

        <div class="profile2 my-card"></div>

        <div class="profile3 my-card"></div>

        <div class="profile4 my-card"></div>

        <div class="profile5 my-card"></div>
     

        </div>

