/* author - vn */

 /* remove bullet points from ul */
 .no-bullet {
    list-style-type: none; 
}

/* shorten jumbotron */
.jumbotron {
     padding-top: 20px;
     padding-bottom: 10px;
}

/* image responsiveness */
.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}

/* hides upload / input button */
#upload-image {
    display: none;
}

/* limit size to uploaded images */
.uploaded-images {
    max-width: 300px;
}