.feature-button-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.feature-button-dog-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}