body {
    background: #D4DEEA; 
    font-family: 'Raleway', sans-serif; 
}

.navbar-brand {
    font-size: 25px
}

/* footer {
    background: #D4DEEA
} */

/* styles navbar */
#nav-css {
    background: rgb(107, 153, 209);
}

a {
    color: white
}

.carousel-img {
    height: 200px; 
    width: 300px;
}

#carousel-container {
    width: 100%; 
    
}

.row-full{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    margin-top: 100px;
    left: 50%;
   }



#frame {
    background: rgb(107, 153, 209)
}

#navDrop {
    background: white
}
.navbar-toggler-icon {
    color: grey
}

#arrow-right {
    height: 50px; width: 50px; color: rgb(107, 153, 209); font-size: 70px; 
    font-weight: bold; 
    position: relative; 
    top: 20%
}

#app-name {
    /* font-family: 'Gayathri', sans-serif; */
    position: relative;
    left: 32%; 
    color: #D4DEEA; 
    font-size: 40px
}

.maxWidth {
    max-width: 10rem;
}; 

#red-button {
    font-weight: bold; 
    background: red; 
    color: white
}

#header-nav-container {
    max-width: 100%
}

.report-button {
    font-weight: bold; 
    background: red; 
    color: white
}

/* .button */

.button {
    display: inline-block;
    position: relative;
    border: 2px solid #FFF;
    overflow: hidden;
    text-decoration: none;
    font-size: 2em;
    outline: none;
    background: transparent;
    font-family: 'raleway', sans-serif;
}

.button span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.button:before,
.button:after {
    content: '';
    position: absolute;
    top: 0.37em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

/* :before */

.button:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

/* :after */

.button:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
}

/* Span on :hover and :active */

.button:hover span,
.button:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

/*  
    We show :before pseudo-element on :hover 
    and :after pseudo-element on :active 
*/

.button:hover:before,
.button:active:after {
    color: black;
    font-weight: bold;
    opacity: 1;
    margin-left: 5px;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .2s;
}

/* 
  We hide :before pseudo-element on :active
*/

.button:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}